<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TfLAppID</key>
	<string>0612ac79</string>
	<key>TfLDeveloperKey</key>
	<string>81ab22c7e2a33c17996e74e8851dfca8</string>
</dict>
</plist>
